.banner {
    background-color: #2B2835;
    /* width: 1440px; */
    height: 616px;
}

.wrapper {
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.banner-picture {
    position: absolute;
    top: 0;
    left: -110px;
}

.sub-title {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.title, .price {
    font-size: 45px;
    color: #FFFFFF;
    /* padding-top: 13px; */
}


.title {
    font-weight: bold;
    margin-bottom: 45px;
}
.extra-text {
    font-size: 13px;
    color: #FFC700;
    padding-top: 10px;
}


.button {
    width: 170px;
    height: 41px;
    text-transform: uppercase;
    padding: 12px 50px;
    border-radius: 100px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    color: #000000!important;
    background-color: #FFC700!important;
    font-weight: 600;
}

.info {
    padding: 210px 0 180px;
    width: 100%;
    max-width: 510px;
}
.action-box {
    padding-top: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.price {
    margin-right: 35px;
}