/* start of global styles */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200&display=swap');
* {
    box-sizing: border-box;
}

body {
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    /* font-weight: 100; */
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

h1 {
    color: #fff;
    padding: 0 15px 15px 15px;
    margin: 0;
    text-transform: uppercase;
}


/* span {
    text-transform: uppercase;
} */


/* end of global styles */