.main1 {
    margin-bottom: 50px;
}

.wrapper-main1 {
    display: flex;
    max-width: 1240px;
    margin: 0 auto;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.speaker-picture {
    position: absolute;
    left: 45%;
    top: 0;
}

.main1-info {
    width: 100%;
    max-width: 480px;
    padding: 216px 0 180px;
    margin-right: auto;
}

.main1-info > .action-box {
    display: flex;
    margin-bottom: 15px;
}

.main1-info > .action-box > .price {
    color: #000;
}

.action-box button.main1 {
    background: #000000;
    color: #fff;
}

.up-title-main1 {
    font-size: 16px;
    color: #2B2835;
}

.plus {
    position: absolute;
    top: 200px;
    left: 230px;
}

.title-main1, .plus {
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    color: #2B2835;
}

.title-colors {
    font-size: 40px;
    color: #2B2835;
    line-height: 55px;
}

.sub-title-colors {
    font-size: 16px;
    line-height: 20px;
    color: #2B2835;
    margin-bottom: 20px;
}

.main1-info .extra-text {
    color: rgba(0, 0, 0, 0.5)
}

.bcolor {
    width: auto;
    height: auto;
    margin-bottom: 40px;
}

.color-b {
    width: 37px;
    height: 37px;
    border-radius: 100px;
    border: 1px solid #EAEAEA;
    cursor: pointer;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
    background:#DD5656;
    margin-right: 14px;
}

.color-b:last-child {
    margin-right: 0;
    background: black;
}

.color-b:first-child {
    background: white;
}

.color-b:hover {
    border: 1.5px solid #303030; 
    border-radius: 100px;
    transition: 0.3s;
}

.dots {
    position: absolute;
    left: 350px;
    bottom: 130px;
}
.krug {
    width: 10px;
    height: 10px;    
    
    background: #D1D1D1;

    border-radius: 50%;
    margin-right: 15px;
}

.krug:hover {
    background: #000;
    transition: 0.4s;
}

.krug:last-child {
    margin-right: 0;
}

.button2 {
    width: 170px;
    height: 41px;
    text-transform: uppercase;
    padding: 12px 50px;
    border-radius: 100px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    color: white;
    background-color:  #000000!important;
    font-weight: 600;
}
